<!DOCTYPE html>
<% var config = htmlWebpackPlugin || SSRData %>
<!--[if lt IE 7 ]> <html lang="en" class="ie6" <% if(config.files.manifest) { %> manifest="<%= config.files.manifest %>"<% } %>> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7" <% if(config.files.manifest) { %> manifest="<%= config.files.manifest %>"<% } %>> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8" <% if(config.files.manifest) { %> manifest="<%= config.files.manifest %>"<% } %>> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9" <% if(config.files.manifest) { %> manifest="<%= config.files.manifest %>"<% } %>> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="" <% if(config.files.manifest) { %> manifest="<%= config.files.manifest %>"<% } %>> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <!-- <title><%= config.options.title || 'React Dashboard'%></title> -->

  <% if (config.files.favicon) { %>
  <link rel="shortcut icon" href="<%= config.files.favicon%>">
  <% } %>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimal-ui">

  <% for (var css in config.files.css) { %>
  <link href="<%= config.files.css[css] %>" rel="preload" as="style">
  <link href="<%= config.files.css[css] %>" rel="stylesheet">
  <% } %>
  
  <% if (config.options.chunks) { %>
    <%= config.options.chunks.css %>
  <% } %>
  <link href="https://fonts.googleapis.com/css?family=Archivo+Black&display=swap" rel="stylesheet">

  <!-- Loader Style -->
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
    @keyframes spin {
      100% {
        transform: rotate(360deg)
      }
    }
    .initial-loader-wrap {
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: -apple-system, "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
      font-size: 12px;
      position: fixed;
      z-index: 99999;
      background-color: white;
      transition: opacity 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    .loaded .initial-loader-wrap {
      opacity: 0;
    }
    .initial-loader {
      /* min-width: 240px; */
      color: #212529;
      line-height: 1.5;
    }
    .initial-loader__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      /* padding: 0.5rem; */
    }
    .initial-loader__row + .initial-loader__row {
      border-top: 1px solid #e2e2e2;
    }
    .initial-loader h1 {
      margin: 0;
      color: #0D7BFF;
      font-size: 30px;
      font-weight: 600;
      line-height: 1.2;
    }
    .initial-loader svg#loader-circle {
      transform-origin: 50% 50%;
	    animation: spin .5s linear infinite;
    }
  </style>
</head>
<body>
  <!-- START Loader -->
  <div class="initial-loader-wrap">
    <div class="initial-loader">
      <div class="initial-loader__row" style="border-bottom: 1px solid #e2e2e2;">
        <div class="initial-loader__row" >
          Please Wait. Loading...
        </div>
        <svg
            version="1.1"
            id="loader-circle"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="30px" height="30px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve"
        >
            <g>
                <path
                    fill="#e7e7e7"
                    d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"
                />
                <path
                    fill="#1EB7FF"
                    d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0C22.32,8.481,24.301,9.057,26.013,10.047z"
                >
                </path>
            </g>
        </svg>    
      </div>
      
    </div>
  </div>

  <script>
    (function() {
        var bodyElement = document.querySelector('body');
        bodyElement.classList.add('loading');

        document.addEventListener('readystatechange', function() {
            if(document.readyState === 'complete') {
                var bodyElement = document.querySelector('body');
                var loaderElement = document.querySelector('.initial-loader-wrap');
                bodyElement.classList.add('loaded');
                setTimeout(function() {
                    bodyElement.removeChild(loaderElement);
                    bodyElement.classList.remove('loading', 'loaded');
                }, 200);
            }
        });
    })();

  </script>
  <!-- END Loader -->

  <div id="root"><%= config.innerHtml || '' %></div>

  <% for (var chunk in config.files.chunks) { %>
  <script src="<%= config.files.chunks[chunk].entry %>" defer></script>
  <% } %>

  <% if (config.options.devServer) { %>
  <script src="<%= config.options.devServer%>/webpack-dev-server.js"></script>
  <% } %>
</body>
</html>